*.in
*.la
*.lo
*.rpm
*.spec
*.swp
*.tar.gz
*~
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.*
config.h
configure
depcomp
install-sh
libtool
missing
mkinstalldirs
test*
tmp
